<!-- <nav class="navbar">
    <h1>My Books</h1>
    <div class="links">
      <a href="/">Home</a
      ><a class="new-item-link" href="/addbook">New Book</a>
    </div>
  </nav> -->
  
  <header>
    <div class="container">
      <a href="/"><img class="logo_img" src="/img/book_logo.jpg"></a>
      <nav>
        <!-- <div class="links">
          <a href="/">Home</a
          ><a class="new-item-link" href="/addbook">New Book</a>
        </div> -->
        <div><span class="email"><a href="mailto:group10@gmail.com">group10@gmail.com</a></span><button>Log Out</button></div>
      </nav>
    </div>
  </header>