<nav class="navbar">
    <h1>Dashboard</h1>
    <span>Group10@gmail.com</span><button>Log out</button></div>
    <div class="links">
      <a href="/">Home</a
      ><a class="new-item-link" href="/addbook">New Book</a>
    </div>
  </nav>