<!-- addbook.ejs -->
<!DOCTYPE html>
<html lang="en">
  <!-- Pass a JavaScript variable to a partial in EJS -->
  <%- include('partials/head.ejs', { title: "Add Book" }) %>

  <body>
    <%- include('partials/navbar') %>

    <div class="content">
      <div class="create">
        <h2>Add a New Book</h2>
        <form action="/addBook" method="POST">
          <label>Title:</label
          ><input type="text" value="" id="title" name="title" required />

          <label for="author">Author:</label>
          <input type="text" id="author" name="author" required /><br />

          <label for="genre">Genre:</label>
          <input type="text" id="genre" name="genre" required />


          <button type="submit">Add Book</button>
        </form>
      </div>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
