<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/img/favicon.jpeg">
  <!-- <title> <%= title %></title> -->
  <link rel="stylesheet" href="/css/styles.css" />
  <title>Books-G10</title>
</head>